@model string

@if (Model.Contains("delivered"))
{
<div>
    <img src="https://thumbs.dreamstime.com/b/delivered-stamp-seal-illustration-design-delivered-stamp-illustration-106081799.jpg" width="400px" height="400px" style="margin-left:30%">
</div>
}
else{
<div>
    <img src="https://en.pimg.jp/054/819/036/1/54819036.jpg" width="400px" height="300px" style="margin-left:30%">
</div>
 }