@model CategoryViewModel


<div>
    @*<label class="text-danger">@ViewBag.Msg</label>*@
    @*<label>@TempData["Message"]</label>*@
    <label>@Model.Id</label>
    <label>@Model.Name</label>
</div>

